* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
}
header img {
  width: 10%;
}
header nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

header nav ul li {
  margin-right: 5%;
}

header nav a {
  float: left;
  padding: 14px 5px;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  background: #FFDA00;
  color: black;
}

.about {
  margin-left: 10%;
  font-size: 40px;
  display: flex;
  padding: 5% 0;
}
span{
  font-weight: bolder;
}
.about h2 {
  color: #FFDA00;
  font-family: Reina Neue Display Bold;
}
.about p {
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-left: 15%;
  max-width: 50%;
}
.parallax {
  background-image: url("bicu16.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.taste{
  margin-left: 5%;
  font-size: 40px;
  display: flex;
  padding: 5%;

}
.tasteimg{
  width: 25%;
  margin-right: 10%;
  border-radius: 15px;
}
.taste h2 {
  color: #FFDA00;
  font-family: Reina Neue Display Bold;

}
.taste p {
  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxone {
  background-image: url("bicu6.JPG");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sight{
  margin-left: 10%;
  font-size: 40px;
  display: flex;
  padding: 5%;

}
.sightimg{
  width: 25%;
  margin-right: 20%;
  border-radius: 15px;

}
.sight h2 {
  color: #FFDA00;
  font-family: Reina Neue Display Bold;

}
.sight p {
  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxtwo {
  background-image: url("bicu18.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feeling{
  margin-left: 5%;
  font-size: 40px;
  display: flex;
  padding: 5%;

}
.feelingimg{
  width: 25%;
  margin-right: 10%;
  border-radius: 15px;

}
.feeling h2 {
  color: #FFDA00;
  font-family: Reina Neue Display Bold;

}
.feeling p {
  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxthree {
  background-image: url("bicu19.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vibe{
  margin-left: 10%;
  font-size: 40px;
  display: flex;
  padding: 5%;

}
.vibeimg{
  width: 25%;
  margin-right: 20%;
  border-radius: 15px;

}
.vibe h2 {
  color: #FFDA00;
  font-family: Reina Neue Display Bold;

}
.vibe p {
  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
  
}
.parallaxfour {
  background-image: url("bicu22.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu{
  /* color: #fff; */
  display: flex;
  justify-content: center;
}
.events {
  text-align: center;
  font-size: 40px;
  color: #FFDA00;
  padding: 5%;
}
.comingevents{
  font-size: 15px;
  font-style: italic;
}
.events h2{
  font-family: Reina Neue Display Bold;

}
.events ul li {
  list-style: none;
  font-size: 20px;
  color: #fff;

}
.parallaxfive {
  background-image: url("bicu11.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ig{
  background-color: #003015;
}

.ig h2{
  font-family: Reina Neue Display Bold;
  text-align: center;
  font-size: 60px;
  color: #FFDA00;
  padding: 3%;
}

.parallaxsix {
  background-image: url("bicu2.JPG");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 40px;
  color: #FFDA00;
  display: flex;
}
.contact h2{
  font-family: Reina Neue Display Bold;

}
.contact p{
  color: #fff;
  font-size: 20px;

}
.info{
  margin-left: 5%;
  margin-top: 10%;

}

.google-map{
  margin-left: 10%;
  margin-top: 3%;
  text-align: center;
}

footer {
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  background-color: #333;
  color: #fff;
}
.icons i{
  color: #fff;
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  border: 2px solid #fff;
  line-height: 27px;
  margin: 5px 5px;
  transition: all 0.3s ease;
}
.icons i:hover{
  background: #fff;
  color: #2980b9;
}

@media only screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
  
  header nav .menu-toggle {
    display: block;
  }
  
  header nav .menu-toggle:after {
    content: "\f0c9";
    font-family: FontAwesome;
    color: #fff;
  }
  
  header nav .menu-toggle.active:after {
    content: "\f00d";
  }
  
  header nav .menu-toggle:hover:after {
    color: #FFDA00;
  }
  
  header nav .menu-toggle.active ~ ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  
  header nav .menu-toggle.active ~ ul li {
    margin-right: 0;
  }
  
  header nav .menu-toggle.active ~ ul li a {
    color: #fff;
    padding: 10px;
  }
  
  header nav .menu-toggle.active ~ ul li a:hover {
    background: #FFDA00;
    color: black;
  }
}
@media (max-width: 980px) {
  .about{
    display: block;

  }
  .taste, .sight, .feeling, .vibe {
    display: block;
    padding-left: 5% ;
  }

  .about h2{
    font-size: 50px;
    margin-left: 35%;
  }
  .taste h2, .sight h2, .feeling h2, .vibe h2 {
    font-size: 50px;
    margin-left: 35%;

  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 18%;
  }

  .about p{
    font-size: 25px;
    max-width: 100%;
    padding: 3%;
    
  } 
  .taste p, .sight p, .feeling p, .vibe p {
    font-size: 25px;
    max-width: 100%;
    padding: 3%;
  }
  .contact{
    display: block;
    margin-right: 10%;
  }
  .contact h2{
    font-size: 50px;
  }
  .events h2{
    font-size: 50px;
  }
  .events ul li{
    font-size:25px;
  }
  .comingevents{
    font-size: 25px;
  }
  .ig h2{
    font-size: 50px;
  }
  .contact p{
    font-size: 25px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 880px) {
  .about, .taste, .sight, .feeling, .vibe {
    margin-left: 1%;
    display: block;
    padding-left: 5% ;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2 {
    font-size: 45px;
    margin-left: 42%;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 50%;
    margin-left: 25%;
  }

  .about p{
    font-size: 23px;
    padding: 2%;
    margin-right: 9%;
    max-width: 100%;
  }
  .taste p, .sight p, .feeling p, .vibe p, .events p, .contact p  {
    font-size: 23px;
    padding: 3%;
    max-width: 100%;
  }
  .contact{
    display: block;
    margin-right: 10%;
  }
  .contact p{
    font-size: 16px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events {
    font-size: 30px;
  }
  .events h2{
    font-size: 45px;
  }

  .events ul{
    margin-top: 2%;
  }
  .events ul li {
    font-size: 23px;
  }
  .comingevents{
    font-size: 23px;
  }
  .ig h2{
    font-size: 45px;
  }
  .contact h2{
    font-size: 45px;
  }
  .contact p{
    font-size: 23px;
  }
  
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (max-width: 780px) {
  .about, .taste, .sight, .feeling, .vibe {
    margin-left: 1%;
    display: block;
    padding: 10%;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2 {
    font-size: 50px;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 22%;
  }

  .about p, .taste p, .sight p, .feeling p, .vibe p {
    font-size: 25px;
    padding: 3%;
  }
  .contact{
    display: block;
  }
  .contact h2{
    font-size: 50px;
  }
  .contact p{
    font-size: 25px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events h2{
    font-size: 50px;
  }

  .events ul li {
    font-size: 25px;
  }
  .ig h2{
    font-size: 50px;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 680px) {
  .about, .taste, .sight, .feeling, .vibe {
    margin-left: 1%;
    display: block;
    padding-left: 5% ;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2, .events h2, .ig h2, .contact h2 {
    font-size: 20px;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin: 0 auto;
  }

  .about p, .taste p, .sight p, .feeling p, .vibe p, .events p, .contact p {
    font-size: 18px;
    max-width: 100%;
  }
  .contact{
    display: block;
  }  
  .contact p{
    font-size: 16px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events {
    font-size: 20px;
  }

  .events ul li {
    font-size: 12px;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 580px) {
  .about, .taste, .sight, .feeling, .vibe {
    margin-left: 1%;
    display: block;
    padding-left: 5% ;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2 {
    font-size: 35px;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 23%;
  }

  .about p, .taste p, .sight p, .feeling p, .vibe p {
    font-size: 18px;
    max-width: 100%;
  }
  .contact{
    display: block;
  }
  .contact h2{
    font-size: 35px;
  }
  .contact p{
    font-size: 18px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events {
    font-size: 20px;
  }
  .events h2{
    font-size: 35px;
  }

  .events ul li {
    font-size: 18px;
  }
  .comingevents{
    font-size: 18px;
  }
  .ig h2{
    font-size: 35px;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (max-width: 480px) {
  .about, .taste, .sight, .feeling, .vibe {
    margin-left: 1%;
    display: block;
    padding-left: 5% ;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2{
    font-size: 35px;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 20%;
  }

  .about p, .taste p, .sight p, .feeling p, .vibe p{
    font-size: 20px;
    max-width: 100%;
    padding-top: 2%;
  }
  .comingevents{
    font-size: 20px;
  }
  .contact{
    display: block;
  }
  .contact h2{
    font-size: 35px;
  }
  .contact p{
    font-size: 20px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events ul li {
    font-size: 20px;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 380px) {
  .about, .taste, .sight, .feeling, .vibe{
    margin-left: 1%;
    display: block;
    padding-left: 5% ;
    
  }
  .contact{
    margin-right: 5%;
    display: block;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2, .contacth2 {
    font-size: 35px;
    margin-left: 28%;

  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    display: absolute;
    margin-left: 20%;
  }

  .about p, .taste p, .sight p, .feeling p, .vibe p, .events p, .contact p  {
    font-size: 15px;
    max-width: 100%;
    padding: 5%;
  }
  .contact p{
    font-size: 16px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
 
  .events {
    font-size: 20px;
  }

  .events ul li {
    font-size: 12px;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 280px) {
  .about, .taste, .sight, .feeling, .vibe {
    margin-left: 1%;
    display: block;
    padding-left: 5% ;
  }

  .about h2, .taste h2, .sight h2, .feeling h2, .vibe h2 {
    font-size: 24px;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 20%;
  }

  .about p, .taste p, .sight p, .feeling p, .vibe p {
    font-size: 12px;
    max-width: 100%;
  }
  .contact h2{
    font-size: 24px;
  }
  .contact p{
    font-size: 12px;
    max-width: 100%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right: 5%;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events h2 {
    font-size: 24px;
  }

  .events ul li {
    font-size: 12px;
    padding: 1%;
  }
  .comingevents{
    font-size: 12px;
  }
  .ig h2{
    font-size: 24px;
  }
  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}