* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
}
header img {
  width: 10%;
}
header nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

header nav ul li {
  margin-right: 5%;
}

header nav a {
  float: left;
  padding: 14px 5px;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  background: #ffda00;
  color: black;
}

.about {
  font-size: 40px;
  display: flex;
  padding: 5% 0;
}
span {
  font-weight: bolder;
}
.about h2,
.taste h2,
.feeling h2{
  margin-left: 10%;
  color: #ffda00;
  font-family: Reina Neue Display Bold;
}

.sight h2, .vibe h2 {
  margin-left: 20%;
  color: #FFDA00;
  font-family: Reina Neue Display Bold;
}

.about p {
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-left: 37%;
  max-width: 50%;
}
.parallax {
  background-image: url("bicu16.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.taste {
  font-size: 40px;
  display: flex;
  padding: 5%;
}
.tasteimg,
.sightimg,
.feelingimg{
  width: 150px;
  margin-right: 10%;
  border-radius: 15px;
}

.vibeimg {
  height: 200px;
  margin-right: 10%;
  border-radius: 15px;
  margin-top: 3%;
}

.taste p {
  margin-left: 10%;
  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxone {
  background-image: url("bicu6.JPG");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;


}
.sight {
  font-size: 40px;
  display: flex;
  padding: 5%;
}
.sight p {
  margin-left: 20%;

  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxtwo {
  background-image: url("bicu18.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.feeling {
  /* margin-left: 5%; */
  font-size: 40px;
  display: flex;
  padding: 5%;
}
.feeling p {
  margin-left: 10%;

  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxthree {
  background-image: url("bicu19.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.vibe {
  /* margin-left: 10%; */
  font-size: 40px;
  display: flex;
  padding: 5%;
}

.vibe p {
  margin-left: 20%;

  font-size: 15px;
  color: #fff;
  border: none;
  max-width: 70%;
  border-radius: 20px;
}
.parallaxfour {
  background-image: url("bicu22.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.menu {
  /* color: #fff; */
  display: flex;
  justify-content: center;
}
.events {
  text-align: center;
  font-size: 40px;
  color: #ffda00;
  padding: 5%;
}
.css1 {
  background-color: yellow;
  font-size: 30px;
  font-family: Reina Neue Display;
  font-style: italic;
  font-weight: bold;
  color: #003015;
  text-shadow: 2px 2px 8px #ff0000;
}
.comingevents {
  font-size: 15px;
  font-style: italic;
}
.events h2 {
  font-family: Reina Neue Display Bold;
}
.events ul li {
  list-style: none;
  font-size: 20px;
  color: #fff;
}
.parallaxfive {
  background-image: url("bicu11.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.ig {
  background-color: #003015;
}

.ig h2 {
  font-family: Reina Neue Display Bold;
  text-align: center;
  font-size: 60px;
  color: #ffda00;
  padding: 3%;
}

.parallaxsix {
  background-image: url("bicu2.JPG");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.contact {
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 40px;
  color: #ffda00;
  display: flex;
}
.contact h2 {
  font-family: Reina Neue Display Bold;
}
.contact p {
  color: #fff;
  font-size: 20px;
}
.info {
  margin-left: 5%;
  margin-top: 10%;
}

.google-map {
  margin-left: 10%;
  margin-top: 3%;
}

footer {
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  background-color: #333;
  color: #fff;
}
.icons i {
  color: #fff;
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  border: 2px solid #fff;
  line-height: 27px;
  margin: 5px 5px;
  transition: all 0.3s ease;
}
.icons i:hover {
  background: #fff;
  color: #2980b9;
}
.title {
  color: #ffda00;
  font-family: Reina Neue Display Bold;
  font-size: 30px;
  padding-bottom: 1%;
}
.menus {
  background-image: url(bicu13.jpeg);
  min-height: 645px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutmenu {
  background-color: #003015;
  color: #fff;
  padding: 5%;
  border-radius: 40px;
  width: 50%;
  margin-left: 20%;
  margin-top: 10%;
}

.menulinks {
  border-radius: 30px;
  padding: 10px;
  width: 8%;
  margin-left: 70%;
  margin-top: 1%;
  text-align: center;
  background-color: #ffda00;
}

@media only screen and (max-width: 880px) {
  .about,
  .taste,
  .sight,
  .feeling,
  .vibe,
  .contact,
  .events,
  .ig {
    display: block;
    margin: 0;
  }
  .about h2,
  .taste h2,
  .sight h2,
  .vibe h2,
  .contact h2,
  .feeling h2,
  .events h2,
  .ig h2 {
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-top: 3%;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 20%;
  }
  .about p,
  .sight p,
  .feeling p,
  .vibe p,
  .taste p,
  .contact p {
    font-size: 25px;
    max-width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 10%;
  }

  .contact{
    display: block;
  }

  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-left: 0;
    margin-right:0;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .events ul li {
    font-size: 25px;
  }

  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .about,
  .taste,
  .sight,
  .feeling,
  .vibe,
  .contact,
  .events,
  .ig {
    display: block;
    margin: 0;
  }
  .about h2,
  .taste h2,
  .sight h2,
  .vibe h2,
  .contact h2,
  .feeling h2,
  .events h2,
  .ig h2 {
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-top: 3%;
  }

  .tasteimg, .sightimg, .feelingimg, .vibeimg {
    width: 60%;
    margin-left: 20%;
  }
  .about p,
  .sight p,
  .feeling p,
  .vibe p,
  .taste p,
  .contact p {
    font-size: 25px;
    max-width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 10%;
  }

  .contact{
    display: block;
  }

  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-left: 0;
    margin-right:0;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .events ul li {
    font-size: 25px;
  }

  .parallax, .parallaxone, .parallaxtwo, .parallaxthree, .parallaxfour, .parallaxfive, .parallaxsix{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
  }
}

@media only screen and (max-width: 480px) {
  .about,
  .taste,
  .sight,
  .feeling,
  .vibe,
  .contact,
  .events,
  .ig {
    display: block;
    margin: 0;
  }
  .about h2,
  .taste h2,
  .sight h2,
  .contact h2,
  .feeling h2,
  .events h2,
  .ig h2 {
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-top: 3%;
  }

  .vibe h2
  {
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-top: 5%;
  }

  .tasteimg,
  .sightimg,
  .feelingimg,
  .vibeimg {
    width: 60%;
    display: block; /* Make the image a block-level element */
    margin-left: auto; /* Set the left margin to auto */
    margin-right: auto; /* Set the right margin to auto */
  }

  .about p,
  .sight p,
  .feeling p,
  .vibe p,
  .taste p,
  .contact p {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 10%;
  }

  .events ul {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-left: 0;
    margin-right:0;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events ul li {
    font-size: 20px;
  }
  .parallax,
  .parallaxone,
  .parallaxtwo,
  .parallaxthree,
  .parallaxfour,
  .parallaxfive,
  .parallaxsix {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
  }
}


@media only screen and (max-width: 380px) {
  .about,
  .taste,
  .sight,
  .feeling,
  .vibe,
  .contact,
  .ig {
    display: block;
  }

  .about h2,
  .taste h2,
  .vibe h2,
  .contact h2,
  .feeling h2,
  .ig h2 {
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-top: 0%;
  }

  .sight h2
  {
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-top: 5%;
  }

  .tasteimg,
  .sightimg,
  .feelingimg,
  .vibeimg {
    width: 60%;
    display: block; /* Make the image a block-level element */
    margin-left: auto; /* Set the left margin to auto */
    margin-right: auto; /* Set the right margin to auto */
    margin-bottom:5%;
  }

  .about p,
  .taste p,
  .sight p,
  .feeling p,
  .vibe p,
  .events p,
  .contact p {
    font-size: 15px;
    max-width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 10%;
  }

  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right:0;
    margin-left:0;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events {
    font-size: 20px;
  }

  .events ul li {
    font-size: 12px;
  }
  .parallax,
  .parallaxone,
  .parallaxtwo,
  .parallaxthree,
  .parallaxfour,
  .parallaxfive,
  .parallaxsix {
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
  }
}
@media only screen and (max-width: 280px) {
  .about,
  .taste,
  .sight,
  .feeling,
  .vibe {
    margin: 0;
    display: block;
    padding: 5% 0;
  }

  .about h2,
  .taste h2,
  .sight h2,
  .feeling h2,
  .vibe h2,
  .contact h2,
  .events h2,
  .ig h2 {
    font-size: 24px;
    text-align: center;
    margin: auto;
  }

  .tasteimg,
  .sightimg,
  .feelingimg,
  .vibeimg {
    width: 60%;
    margin-left: 20%;
  }

  .about p,
  .taste p,
  .sight p,
  .feeling p,
  .vibe p,
  .contact p,
  .comingevents p {
    font-size: 12px;
    max-width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 10%;
  }

  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-right:0;
    margin-left:0;
  }
  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .events ul li {
    font-size: 12px;
    padding: 1%;
  }

  .parallax,
  .parallaxone,
  .parallaxtwo,
  .parallaxthree,
  .parallaxfour,
  .parallaxfive,
  .parallaxsix {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
  }
}
